# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
admission_predict = pd.read_csv('data/Admission_Predict.csv')
admission_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
print("Original column names:", admission_predict.columns.tolist())

Original column names: ['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research', 'Chance of Admit ']

In [4]:
# Removing trailing spaces in column names
admission_predict.columns = admission_predict.columns.str.strip()

#column name after removing the trailing space
print("Cleaned column names:", admission_predict.columns.tolist())

Cleaned column names: ['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit']

Let's evaluate the dataset by looking at the `head` function.

In [5]:
# your code here
admission_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [6]:
# your code here
# Check for missing data in each column
missing_data_counts = admission_predict.isnull().sum()

# Print the counts of missing data for each column
print(missing_data_counts)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [7]:
# your code here
admission_predict.set_index('Serial No.', drop=False, inplace=True)
admission_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
original_count = len(admission_predict)

# Count the number of unique rows based on 'GRE Score' and 'CGPA'
unique_count = len(admission_predict.drop_duplicates(subset=['GRE Score', 'CGPA']))

# Check if the counts are equal
if original_count == unique_count:
    print("Each combination of 'GRE Score' and 'CGPA' is unique.")
else:
    print("There are duplicates based on the combination of 'GRE Score' and 'CGPA'.")

Each combination of 'GRE Score' and 'CGPA' is unique.

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [9]:
# your code here
admission_predict.set_index(['GRE Score', 'CGPA'], inplace=True, drop=True)

admission_predict.reset_index(inplace=True)
admission_predict.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [10]:
admission_predict.head(10)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90
5,321,8.20,6,109,3,3.0,4.0,1,0.75
6,308,7.90,7,101,2,3.0,4.0,0,0.68
7,302,8.00,8,102,1,2.0,1.5,0,0.50
8,323,8.60,9,108,3,3.5,3.0,0,0.45
9,327,9.00,10,111,4,4.0,4.5,1,0.84

In [11]:
# your code here
condition = (admission_predict['CGPA'] > 9) & (admission_predict['Research'] == 1)

# Apply the condition to the DataFrame to filter rows
filtered_df = admission_predict[condition]

# Count the number of rows that meet the condition
num_rows = len(filtered_df)

print(f"Number of rows where CGPA > 9 and the student has conducted research: {num_rows}")

Number of rows where CGPA > 9 and the student has conducted research: 101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [12]:
# your code here
condition = (admission_predict['CGPA'] > 9) & (admission_predict['SOP'] < 3.5)

# Apply the condition to the DataFrame to filter rows
filtered_df = admission_predict[condition]

# Calculate the mean chance of admit for the filtered rows
mean_chance_admit = filtered_df['Chance of Admit'].mean()

print(f"Mean chance of admit for applicants with CGPA > 9 and SOP < 3.5: {mean_chance_admit}")

Mean chance of admit for applicants with CGPA > 9 and SOP < 3.5: 0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [13]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    column_mean = np.mean(column)
    column_std = np.std(column, ddof=0)  # ddof=0 for population standard deviation

    # Standardize the column
    standardize = (column - column_mean) / column_std
    
    return standardize

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [19]:
admission_predict.columns = admission_predict.columns.str.strip()

In [20]:
for col in admission_predict.columns:
    print(repr(col))

'Serial No.'
'GRE Score'
'TOEFL Score'
'University Rating'
'SOP'
'LOR'
'CGPA'
'Research'
'Chance of Admit'
'CGPA_std'
'GRE_std'

In [23]:
# your code here

# Standardize the specified columns
admission_predict['CGPA_std'] = standardize_column(admission_predict['CGPA'])
admission_predict['GRE_std'] = standardize_column(admission_predict['GRE Score'])
admission_predict['LOR_std'] = standardize_column(admission_predict['LOR'])

# Now, the admissions DataFrame has the additional standardized columns
print(admission_predict.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
0           1        337          118                  4  4.5  4.5  9.65
1           2        316          104                  3  3.0  3.5  8.00
2           3        322          110                  3  3.5  2.5  8.67
3           4        314          103                  2  2.0  3.0  8.21
4           5        330          115                  5  4.5  3.0  9.34

   Research  Chance of Admit  CGPA_std   GRE_std   LOR_std
0         1             0.92  1.747900  1.753381  1.191647
1         1             0.72 -0.991211 -0.063367  0.076740
2         1             0.80  0.121034  0.455704 -1.038166
3         0             0.65 -0.642597 -0.236391 -0.480713
4         1             0.90  1.233279  1.147798 -0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [24]:
# Libraries
from random import choices

In [26]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admission_predict.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [27]:
# your code here
# Convert the decision_choice to a NumPy array for efficient element-wise operations
decision_choice_array = np.array(decision_choice)

# Create masks for each condition
conditions = [
    (decision_choice_array == 'CGPA_std'),
    (decision_choice_array == 'GRE_std'),
    (decision_choice_array == 'LOR_std')
]

# DataFrame's values, based on conditions
choices = [
    admission_predict['CGPA_std'].values,
    admission_predict['GRE_std'].values,
    admission_predict['LOR_std'].values
]

# np.select to apply these choices
admission_predict['deciding_column'] = np.select(conditions, choices, default=0)

print(admission_predict.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
0           1        337          118                  4  4.5  4.5  9.65
1           2        316          104                  3  3.0  3.5  8.00
2           3        322          110                  3  3.5  2.5  8.67
3           4        314          103                  2  2.0  3.0  8.21
4           5        330          115                  5  4.5  3.0  9.34

   Research  Chance of Admit  CGPA_std   GRE_std   LOR_std  deciding_column
0         1             0.92  1.747900  1.753381  1.191647         1.747900
1         1             0.72 -0.991211 -0.063367  0.076740         0.076740
2         1             0.80  0.121034  0.455704 -1.038166         0.121034
3         0             0.65 -0.642597 -0.236391 -0.480713        -0.480713
4         1             0.90  1.233279  1.147798 -0.480713         1.147798

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [28]:
# your code here
admission_predict['decision'] = np.where(admission_predict['deciding_column'] > 0.8, 1, 0)

# Verify the operation by displaying the first few rows of the DataFrame
print(admission_predict[['deciding_column', 'decision']].head())

   deciding_column  decision
0         1.747900         1
1         0.076740         0
2         0.121034         0
3        -0.480713         0
4         1.147798         1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [29]:
# your code here
num_accepted = admission_predict['decision'].sum()

print(f"Number of applicants accepted to the program: {num_accepted}")

Number of applicants accepted to the program: 94

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [30]:
# your code here
admission_predict.columns = (admission_predict.columns
                      .str.replace('[^a-zA-Z ]', '', regex=True)  # Remove all non-character symbols
                      .str.replace(' ', '_')                       # Replace spaces with underscores
                      .str.lower())                                # Convert to lowercase

# Verify the transformed column names
print(admission_predict.columns)

Index(['serial_no', 'gre_score', 'toefl_score', 'university_rating', 'sop',
       'lor', 'cgpa', 'research', 'chance_of_admit', 'cgpastd', 'grestd',
       'lorstd', 'decidingcolumn', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [32]:
# your code here
admission_predict['Adjusted GRE Score'] = np.where(
    admission_predict['university_rating'] >= 4,       # Condition for Univ. Rating of 4 or higher
    admission_predict['gre_score'] + 10,               # Add 10 to GRE Score if condition is True
    admission_predict['gre_score']                     # Keep original GRE Score if condition is False
)

# Step 2: Split the adjusted GRE scores into 4 bins using pd.cut
# Determine bins based on the range of the adjusted GRE scores
min_score = admission_predict['Adjusted GRE Score'].min()
max_score = admission_predict['Adjusted GRE Score'].max()
bins = np.linspace(min_score, max_score, 5)   # Creates 4 bins

# Use pd.cut to categorize each GRE score into bins
adjusted_gre = pd.cut(admission_predict['Adjusted GRE Score'], bins=bins, labels=["Bin1", "Bin2", "Bin3", "Bin4"], include_lowest=True)

# Display the original and new adjusted GRE scores along with their corresponding bins
admission_predict['Adjusted GRE Bins'] = adjusted_gre
print(admission_predict)

     serial_no  gre_score  toefl_score  university_rating  sop  lor  cgpa  \
0            1        337          118                  4  4.5  4.5  9.65
1            2        316          104                  3  3.0  3.5  8.00
2            3        322          110                  3  3.5  2.5  8.67
3            4        314          103                  2  2.0  3.0  8.21
4            5        330          115                  5  4.5  3.0  9.34
..         ...        ...          ...                ...  ...  ...   ...
380        381        324          110                  3  3.5  3.5  9.04
381        382        325          107                  3  3.0  3.5  9.11
382        383        330          116                  4  5.0  4.5  9.45
383        384        312          103                  3  3.5  4.0  8.78
384        385        333          117                  4  5.0  4.0  9.66

     research  chance_of_admit   cgpastd    grestd    lorstd  decidingcolumn  \
0           1             0.92  1.747900  1.753381  1.191647        1.747900
1           1             0.72 -0.991211 -0.063367  0.076740        0.076740
2           1             0.80  0.121034  0.455704 -1.038166        0.121034
3           0             0.65 -0.642597 -0.236391 -0.480713       -0.480713
4           1             0.90  1.233279  1.147798 -0.480713        1.147798
..        ...              ...       ...       ...       ...             ...
380         1             0.82  0.735259  0.628727  0.076740        0.628727
381         1             0.84  0.851463  0.715239  0.076740        0.715239
382         1             0.91  1.415886  1.147798  1.191647        1.147798
383         0             0.67  0.303641 -0.409414  0.634193        0.634193
384         1             0.95  1.764500  1.407334  0.634193        0.634193

     decision  Adjusted GRE Score Adjusted GRE Bins
0           1                 347              Bin4
1           0                 316              Bin2
2           0                 322              Bin3
3           0                 314              Bin2
4           1                 340              Bin4
..        ...                 ...               ...
380         0                 324              Bin3
381         0                 325              Bin3
382         1                 340              Bin4
383         0                 312              Bin2
384         0                 343              Bin4

[385 rows x 16 columns]